/* 회색 배경 처리 */
body,
html,
#root {
    margin: 0;
    padding: 0;
    background-color: #cccccc; /* 회색 */
    height: 100%;
    width: 100vw;
}

/* 전체 화면 중앙 정렬 */
.viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

/* 고정된 모바일 사이즈 프레임 */
.mobile-frame {
    width: 390px; /* iPhone 12 크기 예시 */
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* border-radius: 20px; */
    overflow: auto;
}
